doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="description" content="emails")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='emails'
    style(type="text/css")
    body(style="margin:0")
        table(style="border:0;margin:0;border-spacing:0;table-layout:fixed;width:100%;min-width:845px;border-collapse:collapse;")
            tbody(style="margin:0")
                tr(style="margin:0")
                    td(style="margin:0;padding:48px 51px 24px 24px;background-color:rgba(197, 206, 248, 0.3)" align="center")
                        table(style="max-width:770px;overflow:scroll;border:0;margin:0;border-spacing:0;table-layout:fixed;border-collapse:collapse;align:center;background-image:url(\"http://images.stevenreed.pp.ua/tablet.png\");background-repeat:no-repeat;background-position:97% bottom;font-family:\"Helvetica Neue\",Helvetica,Arial,sans-serif")
                            tbody(style="margin:0")
                                tr(style="margin:0")
                                    td(style="margin:0;padding:0 0 26px 0" align="center")
                                        img(src="http://images.stevenreed.pp.ua/logo.png" alt="stayhome" style="border:0;margin:0;width:232px;height:52px")
                                tr(style="margin:0")
                                    td(style="margin:0;padding:0 0 26px 0;color:#465287;font-size:17px;font-weight:bold") StayHome claim for registration submitting
                                tr(style="margin:0")
                                    td(style="margin:0;padding:0 34px 0 0;font-size:17px;line-height:31px;color:#000000")
                                        | Dear {First Name} {Last Name}
                                        br
                                        | You have successfully submitted an application for registration as {Company Name} employee.
                                        br
                                        | Now wait until your manager, {First Name} {Last Name}, confirms your request.
                                        br
                                        br
                                        | If you have been waiting too long and there’s no confirmation yet and in case of any problems with registration please contact the manager.
                                        br
                                        br
                                        br
                                tr(style="margin:0")
                                    td(style="margin:0;padding:0;font-size:15px;line-height: 28px;color:#000000")
                                        | Best Regards,
                                        br
                                        | StayHome.ai
                                        br
                                        a(style="text-decoration:none;color:#000000") contact@stayhome.ai
                                        br
                                        a(style="text-decoration:none;color:#000000") 0-800-123-1234
        //table(style="border:0;margin:0;border-spacing:0;table-layout:fixed;width:100%;min-width:857px;border-collapse:collapse;")
        //    tbody(style="margin:0")
        //        tr(style="margin:0")
        //            td(style="margin:0;padding:56px 44px 15px 43px;background-color:rgba(197, 206, 248, 0.3)" align="center")
        //                table(style="max-width:770px;overflow:scroll;border:0;margin:0;border-spacing:0;table-layout:fixed;border-collapse:collapse;align:center;background-image:url(\"http://images.stevenreed.pp.ua/password.png\");background-repeat:no-repeat;background-position:96% 96%;font-family:\"Helvetica Neue\",Helvetica,Arial,sans-serif")
        //                    tbody(style="margin:0")
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 0 28px 0" align="center")
        //                                img(src="http://images.stevenreed.pp.ua/logo.png" alt="stayhome" style="border:0;margin:0;width:232px;height:52px")
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 0 26px 0;color:#465287;font-size:17px;font-weight:bold") Password Reset Request
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 34px 0 0;font-size:17px;line-height:31px;color:#000000")
        //                                | You're receiving this email because you requested a password reset for your StayHome account.
        //                                br
        //                                | Please click the button below to&nbsp;
        //                                a(href="#" style="color:#1DA1F2") reset password.
        //                                br
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:37px 0 0;font-size:14px;line-height:16px" align="center")
        //                                a(href="#" style="text-decoration:none;color:#fff;display:inline-block;background:#6C84F0;border-radius:4px;padding:10px 52px") Reset password
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:112px 0 0;font-size:15px;line-height: 28px;color:#000000")
        //                                | Best Regards,
        //                                br
        //                                | StayHome.ai
        //                                br
        //                                a(style="text-decoration:none;color:#000000") contact@stayhome.ai
        //                                br
        //                                a(style="text-decoration:none;color:#000000") 0-800-123-1234
        //table(style="border:0;margin:0;border-spacing:0;table-layout:fixed;width:100%;min-width:829px;border-collapse:collapse;")
        //    tbody(style="margin:0")
        //        tr(style="margin:0")
        //            td(style="margin:0;padding:56px 40px 25px 19px;background-color:rgba(197, 206, 248, 0.3)" align="center")
        //                table(style="width:770px;overflow:scroll;border:0;margin:0;border-spacing:0;table-layout:fixed;border-collapse:collapse;align:center;background-image:url(\"http://images.stevenreed.pp.ua/folders.png\");background-repeat:no-repeat;background-position:right 93%;font-family:\"Helvetica Neue\",Helvetica,Arial,sans-serif")
        //                    tbody(style="margin:0")
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 0 28px 0" align="center")
        //                                img(src="http://images.stevenreed.pp.ua/logo.png" alt="stayhome" style="border:0;margin:0;width:232px;height:52px")
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 0 24px 0;color:#465287;font-size:17px;font-weight:bold") Welcome to StayHome!
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 34px 0 0;font-size:17px;line-height:31px;color:#000000")
        //                                | Dear {First Name} {Last Name},
        //                                br
        //                                | Confirmation of your registration request was successful. Now you can start to enjoy working with StayHome. In case of any questions, use {Help}* or contact your manager.
        //                                br
        //                                | Click&nbsp;
        //                                a(href="#" style="color:#1DA1F2") here
        //                                | &nbsp;to Sign in
        //                                br
        //                                | Please install our Application
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:5px 0 0;")
        //                                a(href="#" style="margin-right:3px;text-decoration:none;color:#000000;display:inline-block")
        //                                    img(src="http://images.stevenreed.pp.ua/playMarket.png" alt="GET IN ON Google Play" style="border:0;margin:0;height:46px;display:block")
        //                                a(href="#" style='text-decoration:none;color:#000000;display:inline-block')
        //                                    img(src="http://images.stevenreed.pp.ua/appStore.png" alt="Download on the App Store" style="border:0;margin:0;height:46px;display:block")
        //                                br
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:58px 0 0;font-size:15px;line-height: 28px;color:#000000")
        //                                | Best Regards,
        //                                br
        //                                | StayHome.ai
        //                                br
        //                                a(style="text-decoration:none;color:#000000") contact@stayhome.ai
        //                                br
        //                                a(style="text-decoration:none;color:#000000") 0-800-123-1234
        //table(style="border:0;margin:0;border-spacing:0;table-layout:fixed;width:100%;min-width:826px;border-collapse:collapse;")
        //    tbody(style="margin:0")
        //        tr(style="margin:0")
        //            td(style="margin:0;padding:48px 32px 35px 24px;background-color:rgba(197, 206, 248, 0.3)" align="center")
        //                table(style="width:770px;overflow:scroll;border:0;margin:0;border-spacing:0;table-layout:fixed;border-collapse:collapse;align:center;background-image:url(\"http://images.stevenreed.pp.ua/person.png\");background-repeat:no-repeat;background-position:100% 95%;font-family:\"Helvetica Neue\",Helvetica,Arial,sans-serif")
        //                    tbody(style="margin:0")
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 0 28px 0" align="center")
        //                                img(src="http://images.stevenreed.pp.ua/logo.png" alt="stayhome" style="border:0;margin:0;width:232px;height:52px")
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 0 24px 0;color:#465287;font-size:17px;font-weight:bold") StayHome Registration Claim
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:0 34px 0 0;font-size:17px;line-height:31px;color:#000000")
        //                                | New employee sent a request for validation.
        //                                br
        //                                | Now you have to validate this user and activate his account.
        //                                br
        //                                | You can do this in your&nbsp;
        //                                a(href="#" style="color:#1DA1F2") StayHome Administrator's Web Interface.
        //                                br
        //                                | Go to Company>New Employees. There you will find instructions of what to do next.
        //                                br
        //                                | {
        //                                a(href="#" style="color:#1DA1F2") Go to New Employees
        //                                | }*
        //                        tr(style="margin:0")
        //                            td(style="margin:0;padding:112px 0 0 0;font-size:15px;line-height: 28px;color:#000000")
        //                                | Best Regards,
        //                                br
        //                                | StayHome.ai
        //                                br
        //                                a(style="text-decoration:none;color:#000000") contact@stayhome.ai
        //                                br
        //                                a(style="text-decoration:none;color:#000000") 0-800-123-1234
